.desktop-label {
    margin-left: 0;
    margin-right: 8px;
    padding: 0 8px;
    border-radius: 4px;
}

.desktop-label-nonempty-active {
    background-color: rgba(154, 154, 154, 0.7);
}

.desktop-label-nonempty-inactive {
    background-color: rgba(96, 96, 96, 0.7);
}

.desktop-label-empty-active {
    background-color: rgba(154, 154, 154, 0.7);
}

.desktop-label-empty-inactive {
    background-color: rgba(0, 0, 0, 0.0);
}

